<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Convening Format & Space Details</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <style>
    .hidden {
      display: none; /* Hides the element */
    }
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    font-weight: bold;
    background-color: #f9f9f9;
  }

  .row-header {
    text-align: left;
  }


  </style>
</head>
<body>

  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <form action="/conveningformatsandspaces.html" method="POST">
        <h1 class="formbold-heading">Convening Format & Space Details</h1>

        <!-- Convening Format -->
        <label class="formbold-form-label">Convening Format</label>
        <div class="formbold-grid-two-columns">
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="radio" class="formbold-input-radio" name="convening_format" value="Online only" id="online-only">
              <div class="formbold-card-content">
                <span class="large-text">Online only (e.g. Zoom)</span>
                <span class="small-text">observed online</span>
              </div>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="radio" class="formbold-input-radio" name="convening_format" value="In person only" id="inperson-only">
              <div class="formbold-card-content">
                <span class="large-text">In person only (no virtual participants)</span>
                <span class="small-text">observed in person</span>
              </div>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="radio" class="formbold-input-radio" name="convening_format" value="Hybrid in person" id="hybrid-inperson">
              <div class="formbold-card-content">
                <span class="large-text">Hybrid, in person with virtual participants</span>
                <span class="small-text">observed in person</span>
              </div>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="radio" class="formbold-input-radio" name="convening_format" value="Hybrid online">
              <div class="formbold-card-content">
                <span class="large-text">Hybrid, in person with virtual participants</span>
                <span class="small-text">observed online</span>
              </div>
            </label>
          </div>
        </div>




        <!-- Virtual Convening Software -->
        <div id="virtual-software-section" class="hidden">
          <label class="formbold-form-label">The virtual convening software platform is...</label>
          <div class="formbold-grid-two-columns">
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="platform" value="Zoom">
                <span class="large-text">Zoom</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="platform" value="Google Hangout">
                <span class="large-text">Google Hangout</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="platform" value="Microsoft Teams">
                <span class="large-text">Microsoft Teams</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="platform" value="Skype">
                <span class="large-text">Skype</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="platform" value="FaceTime">
                <span class="large-text">FaceTime</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="platform" value="Telephone">
                <span class="large-text">Telephone (audio only)</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="platform" value="Other">
                <span class="large-text">
                  Other
                  <input type="text" name="platform_other" placeholder="Specify other platform">
                </span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="platform" value="Can't Tell">
                <span class="large-text">Can't Tell</span>
              </label>
            </div>
          </div>
        </div>

        <!-- Virtual Tools -->
        <div id="virtual-tools-section" class="hidden">
          <label class="formbold-form-label">Virtual Tools</label>
          <p class="formbold-form-subtext">Which of the following virtual convening platform tools are used?</p>
          <div class="formbold-grid-two-columns">
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-checkbox" name="virtual_tools[]" value="Online-Virtual Waiting Room">
                <span class="large-text">Virtual Waiting Room</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-checkbox" name="virtual_tools[]" value="Online-Virtual backgrounds">
                <span class="large-text">Virtual backgrounds</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-checkbox" name="virtual_tools[]" value="Online-Participant audio on">
                <span class="large-text">Participant audio on</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-checkbox" name="virtual_tools[]" value="Online-Participant audio off (muted)">
                <span class="large-text">Participant audio off (muted)</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-checkbox" name="virtual_tools[]" value="Online-Participant video on">
                <span class="large-text">Participant video on</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-checkbox" name="virtual_tools[]" value="Online-Participant video off">
                <span class="large-text">Participant video off</span>
              </label>
            </div>
          </div>
        </div>

        <!-- See Screen -->
        <div id="see-screen-section" class="hidden">

        <label class="formbold-form-label">See Screen: Can you see a screen displaying the virtual software platform?</label>
        <div class="formbold-grid-two-columns">
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="radio" class="formbold-input-radio" name="see_screen" value="Yes">
              <div class="formbold-card-content">
                <span class="large-text">Yes</span>
              </div>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="radio" class="formbold-input-radio" name="see_screen" value="No">
              <div class="formbold-card-content">
                <span class="large-text">No</span>
              </div>
            </label>
          </div>
        </div>
          
          
        </div>


        <!-- Virtual Participants -->
        <div id="virtual-participants-section" class="hidden">

        <label class="formbold-form-label">Virtual participants for in-person convening are included using...</label>
          <div class="formbold-grid-two-columns">

            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="virtual_participants" value="Video">
                <span class="large-text">Video</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="virtual_participants" value="Audio">
                <span class="large-text">Audio</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="virtual_participants" value="Both">
                <span class="large-text">Both</span>
              </label>
            </div>

            
          </div>
        </div>

        <!-- Indoor Outdoor -->
        <div id="indoor-outdoor-section" class="hidden">
          <div class="formbold-input-group">
            <label for="address" class="formbold-form-label">Addresses</label>
            <input type="text" name="address" id="address" placeholder="Enter observer name" class="formbold-form-input" />
          </div>
        
          <div class="formbold-input-group">
              <label for="place_name" class="formbold-form-label">Plae name(s)</label>
              <input type="text" name="place_name" id="place-name" placeholder="Place Names" class="formbold-form-input" />
          </div>
        
          <div class="formbold-input-group">
              <label for="brief_description" class="formbold-form-label">Brief Description</label>
              <input type="text" name="brief_description" id="brief_description" placeholder="Brief Description" class="formbold-form-input" />
          </div>

          <label class="formbold-form-label">Indoors or Outdoors ?</label>
          <div class="formbold-grid-two-columns">

            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="place" value="InPerson-Indoor">
                <span class="large-text">Indoor</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="place" value="InPerson-Outdoor">
                <span class="large-text">Outdoor</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="place" value="InPerson-Both">
                <span class="large-text">Both</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="platform" value="InPerson-Can't Tell(Hybrid online onserver only)">
                <span class="large-text">Can't Tell (Hybrid, online Observeronly)</span>
              </label>
            </div>
            
          </div>
        </div>

        <!-- Stationary -->
        <div id="stationary-section" class="hidden">
          <label class="formbold-form-label">Stationary?</label>
          <div class="formbold-grid-two-columns">
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="stationary" value="Mobile">
                <span class="large-text">Mobile</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="stationary" value="Stationary">
                <span class="large-text">Stationary</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="stationary" value="Both">
                <span class="large-text">Both</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="stationary" value="Can't Tell(Hybrid online onserver only)">
                <span class="large-text">Can't Tell (Hybrid, online Observeronly)</span>
              </label>
            </div>
            
          </div>
        </div>

        <!-- Weather -->
        <div id="weather-section" class="hidden ">
          <label class="formbold-form-label">Weather?</label>
          <div class="formbold-grid-two-columns">
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-radio" name="weather" value="Direct Sun">
                <span class="large-text">Direct Sun</span>
              </label>
            </div>

            
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-radio" name="weather" value="Shade">
                <span class="large-text">Shade</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-radio" name="weather" value="Wind">
                <span class="large-text">Wind</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-radio" name="weather" value="Rain">
                <span class="large-text">Rain</span>
              </label>
            </div>

            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-radio" name="weather" value="Snow/Ice">
                <span class="large-text">Snow/Ice</span>
              </label>
            </div>

            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="checkbox" class="formbold-input-radio" name="weather" value="Can't Tell(Hybrid online onserver only)">
                <span class="large-text">Can't Tell (Hybrid, online Observeronly)</span>
              </label>
            </div>
          </div>
        </div>

        <!-- Temperature Question -->
          <div id="temprature-section" class="hidden ">
            <label class="formbold-form-label">Temperature (use digital thermometer)</label>
            <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
              <thead>
                <tr>
                  <th style="text-align: left; border-bottom: 1px solid #ccc;">Temperature (in degrees F)</th>
                  <th style="text-align: center; border-bottom: 1px solid #ccc;">Start Temp</th>
                  <th style="text-align: center; border-bottom: 1px solid #ccc;">End Temp</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: left; padding: 10px; border-bottom: 1px solid #ccc;">Temperature</td>
                  <td style="text-align: center; padding: 10px; border-bottom: 1px solid #ccc;">
                    <input type="text" name="start_temp" placeholder="Enter start temp" style="width: 80%; padding: 5px; border: 1px solid #000; border-radius: 4px;">
                  </td>
                  <td style="text-align: center; padding: 10px; border-bottom: 1px solid #ccc;">
                    <input type="text" name="end_temp" placeholder="Enter end temp" style="width: 80%; padding: 5px; border: 1px solid #000; border-radius: 4px;">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
      <!-- Space function -->
      <div id="space-function-section" class="hidden">
        <label class="formbold-form-label">Space Functional Features</label>
        <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
          <thead>
            <tr>
              <th style="border-bottom: 1px solid #ddd;"></th>
              <th style="border-bottom: 1px solid #ddd;">Available</th>
              <th style="border-bottom: 1px solid #ddd;">Used</th>
              <th colspan="2" style="border-bottom: 1px solid #ddd;">Works?</th>
            </tr>
            <tr>
              <th style="border-bottom: 1px solid #ddd; text-align: left;">Features</th>
              <th style="border-bottom: 1px solid #ddd;">Yes</th>
              <th style="border-bottom: 1px solid #ddd;">Yes</th>
              <th style="border-bottom: 1px solid #ddd;">Acceptable</th>
              <th style="border-bottom: 1px solid #ddd;">No or Detrimental</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left; border-bottom: 1px solid #ddd;">Stage</td>
              <td><input type="checkbox" name="functional_features[stage][available]"></td>
              <td><input type="checkbox" name="functional_features[stage][used]"></td>
              <td><input type="radio" name="functional_features[stage][works]" value="acceptable"></td>
              <td><input type="radio" name="functional_features[stage][works]" value="no_or_detrimental"></td>
            </tr>
            <tr>
              <td style="text-align: left; border-bottom: 1px solid #ddd;">Podium</td>
              <td><input type="checkbox" name="functional_features[podium][available]"></td>
              <td><input type="checkbox" name="functional_features[podium][used]"></td>
              <td><input type="radio" name="functional_features[podium][works]" value="acceptable"></td>
              <td><input type="radio" name="functional_features[podium][works]" value="no_or_detrimental"></td>
            </tr>
          </tbody>
        </table>
      </div>

    <!-- Space Dimension  -->
    <div id="space-dimension-section" class="hidden">
      <label class="formbold-form-label">Space Dimensions (use pen laser measure)</label>
      <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
        <thead>
          <tr>
            <th style="text-align: left; border-bottom: 1px solid #ddd;">Dimension</th>
            <th style="text-align: center; border-bottom: 1px solid #ddd;">Measurement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left; border-bottom: 1px solid #ddd;">Length (at longest usable point)</td>
            <td style="text-align: center; border-bottom: 1px solid #ddd;">
              <input type="text" name="space_dimensions[length]" placeholder="Enter length" style="width: 80%; padding: 5px; border: 1px solid #000; border-radius: 4px;">
            </td>
          </tr>
          <tr>
            <td style="text-align: left; border-bottom: 1px solid #ddd;">Width (at widest usable point)</td>
            <td style="text-align: center; border-bottom: 1px solid #ddd;">
              <input type="text" name="space_dimensions[width]" placeholder="Enter width" style="width: 80%; padding: 5px; border: 1px solid #000; border-radius: 4px;">
            </td>
          </tr>
          <tr>
            <td style="text-align: left; border-bottom: 1px solid #ddd;">Height (at height of greatest area)</td>
            <td style="text-align: center; border-bottom: 1px solid #ddd;">
              <input type="text" name="space_dimensions[height]" placeholder="Enter height" style="width: 80%; padding: 5px; border: 1px solid #000; border-radius: 4px;">
            </td>
          </tr>
        </tbody>
      </table>
    </div>

        <!-- Convening Space access -->
        <div id="convening-space-section" class="hidden">
          <label class="formbold-form-label"> Convening space access </label>
          <div class="formbold-grid-two-columns">
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="conveining-space" value="Convener-Controlled">
                <span class="large-text">Convener-Controlled</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="conveining-space" value="Uncontrolled">
                <span class="large-text">Uncontrolled</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="conveining-space" value="Both(multiple spaces)">
                <span class="large-text">Both(multiple spaces)</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="conveining-space" value="Can't Tell(Hybrid online onserver only)">
                <span class="large-text">Can't Tell (Hybrid, online Observeronly)</span>
              </label>
            </div>
            
          </div>
        </div>

        <!-- Space Type Question -->
        <div id="space-type-section" class="hidden">
          <label class="formbold-form-label"> Space Type </label>
          <div class="formbold-grid-two-columns">
            <!-- First Row -->
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Auditorium/Theater/Performance Hall">
                <span class="large-text">Auditorium/Theater/Performance Hall</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Office">
                <span class="large-text">Office</span>
              </label>
            </div>

            <!-- Second Row -->
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Gymnasium">
                <span class="large-text">Gymnasium</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Pavilion/Shelter/Gazebo">
                <span class="large-text">Pavilion/Shelter/Gazebo</span>
              </label>
            </div>

            <!-- Third Row -->
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Worship Hall">
                <span class="large-text">Worship Hall</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Deck/Patio">
                <span class="large-text">Deck/Patio</span>
              </label>
            </div>

            <!-- Fourth Row -->
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Multipurpose/Function Room">
                <span class="large-text">Multipurpose/Function Room</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Sidewalk/Footpath">
                <span class="large-text">Sidewalk/Footpath</span>
              </label>
            </div>

            <!-- Fifth Row -->
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Common Room/Living Room/Parlor">
                <span class="large-text">Common Room/Living Room/Parlor</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Lawn/Field/Grass">
                <span class="large-text">Lawn/Field/Grass</span>
              </label>
            </div>

            <!-- Sixth Row -->
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Restaurant/Bar/Cafe Dining Area">
                <span class="large-text">Restaurant/Bar/Cafe Dining Area</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Stadium">
                <span class="large-text">Stadium</span>
              </label>
            </div>

            <!-- Seventh Row -->
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Lobby/Foyer/Entranceway">
                <span class="large-text">Lobby/Foyer/Entranceway</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Other">
                <span class="large-text">Other, specify:
                  <input type="text" name="space_type_other" placeholder="Specify other type" style="margin-left: 10px; padding: 5px; border: 1px solid #000; border-radius: 4px; width: calc(100% - 20px);">
                </span>
              </label>
            </div>

            <!-- Eighth Row -->
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Classroom">
                <span class="large-text">Classroom</span>
              </label>
            </div>
            <div class="formbold-card">
              <label class="formbold-radio-label">
                <input type="radio" class="formbold-input-radio" name="space_type" value="Can't see the space (Hybrid, online observer only)">
                <span class="large-text">Can't see the space (Hybrid, online observer only)</span>
              </label>
            </div>
          </div>
        </div>

         <!-- Convening Entrance --> 
        <div id="convening-entrance-section" class="hidden">
        <label class="formbold-form-label">Convening Entrance</label>
        <div class="formbold-grid-two-columns">
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="entrance[]" value="Open door">
              <span class="large-text">Open door</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="entrance[]" value="Keep out sign">
              <span class="large-text">Keep out sign</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="entrance[]" value="Name tags/cards">
              <span class="large-text">Name tags/cards</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="entrance[]" value="Closed door">
              <span class="large-text">Closed door</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="entrance[]" value="Greeter">
              <span class="large-text">Greeter</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="entrance[]" value="Sign-in">
              <span class="large-text">Sign-in</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="entrance[]" value="Welcome sign">
              <span class="large-text">Welcome sign</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="entrance[]" value="Bouncer">
              <span class="large-text">Bouncer</span>
            </label>
          </div>
        </div>
        </div>

        <!-- Seating -->
        <div id="seating-section" class="hidden">

        <label class="formbold-form-label">Seating</label>
        <div class="formbold-grid-two-columns">
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="seating[]" value="Fixed position seats">
              <span class="large-text">Fixed position seats</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="seating[]" value="Moveable seats">
              <span class="large-text">Moveable seats</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="seating[]" value="Sittable architecture (low walls, flower boxes)">
              <span class="large-text">Sittable architecture (low walls, flower boxes)</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="seating[]" value="Participants sit on floors/ground">
              <span class="large-text">Participants sit on floors/ground</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="seating[]" value="Enough (non-floor) seats for all participants">
              <span class="large-text">Enough (non-floor) seats for all participants</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="seating[]" value="Can't See Seating (Hybrid, online observer only)">
              <span class="large-text">Can't See Seating (Hybrid, online observer only)</span>
            </label>
          </div>
        </div>
        </div>

        <!-- Decorative Features -->
        <div id="decorat-features-section" class="hidden">
        <label class="formbold-form-label">Decorative Features</label>
        <div class="formbold-grid-two-columns">
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="decorative_features[]" value="Signs/art with organization name, logo, or images">
              <span class="large-text">Signs/art with organization name, logo, or images</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="decorative_features[]" value="Signs/art with other organization names, logos, or images">
              <span class="large-text">Signs/art with other organization names, logos, or images</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="decorative_features[]" value="Other decorative signs/pictures/wall art">
              <span class="large-text">Other decorative signs/pictures/wall art</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="decorative_features[]" value="Decorative sculptures/statues">
              <span class="large-text">Decorative sculptures/statues</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="decorative_features[]" value="Decorative water features (fountains, pools, waterfalls)">
              <span class="large-text">Decorative water features (fountains, pools, waterfalls)</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="decorative_features[]" value="Plants, trees, flowers">
              <span class="large-text">Plants, trees, flowers</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="checkbox" class="formbold-input-checkbox" name="decorative_features[]" value="Can't see space features (hybrid, online observer only)">
              <span class="large-text">Can't see space features (hybrid, online observer only)</span>
            </label>
          </div>
        </div>
        </div>

        <!-- Space Needs convener needs -->
        <div id="space-convener-section" class="hidden">
        <label class="formbold-form-label">Space meets convener needs?</label>
        <div class="formbold-grid-two-columns">
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="radio" class="formbold-input-radio" name="space_needs" value="Yes">
              <span class="large-text">Yes</span>
            </label>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="radio" class="formbold-input-radio" name="space_needs" value="No">
              <span class="large-text">No. Reason why not:</span>
            </label>
            <textarea name="space_needs_reason" placeholder="Explain here..."></textarea>
          </div>
          <div class="formbold-card">
            <label class="formbold-radio-label">
              <input type="radio" class="formbold-input-radio" name="space_needs" value="Can't See Space Use (Hybrid, online observer only)">
              <span class="large-text">Can't See Space Use (Hybrid, online observer only)</span>
            </label>
          </div>
        </div>
        </div>

        
        <!-- Previous and Next Button Navigation -->
        <div class="button-container">
          <button type="button" class="formbold-btn" onclick="window.location.href='{{ url_for('convening_basics') }}'">Previous</button>
          <button type="button" class="formbold-btn" onclick="window.location.href='{{ url_for('home') }}'">Index</button>
          <button type="submit" class="formbold-btn" id="next-btn">Next</button>
        </div>

        <div class="form-navigation">
          <a href="conveningbasics.html" class="form-tab">Convening Basics</a>
          <a href="conveningformatsandspaces.html" class="form-tab">Convening Formats & Spaces</a>
          <a href="spacephotos.html" class="form-tab">Space Photos</a>
          <a href="timesandcounts.html" class="form-tab">Times and Counts</a>
          <a href="proceduresandnorms.html" class="form-tab">Procedures & Norms</a>
          <a href="activities.html" class="form-tab">Activities</a>
          <a href="organizingandmobilizing.html" class="form-tab">Organizing & Mobilizing</a>
          <a href="publicsphere.html" class="form-tab">Public-Sphere Discussion</a>
          <a href="decisionmaking.html" class="form-tab">Decision Making</a>
          <a href="planningstrategizing.html" class="form-tab">Planning/Strategizing</a>
          <a href="leaders.html" class="form-tab">Leaders</a>
          <a href="socialboundaries.html" class="form-tab">Social Boundaries</a>
          <a href="interactionstyles.html" class="form-tab">Interactions & Styles</a>
          <a href="fieldnotes.html" class="form-tab">Field Notes</a>
        </div>
      </form>
    </div>
  </div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const onlineOnlyRadio = document.getElementById('online-only');
    const inpersonOnlyRadio = document.getElementById('inperson-only');
    const hybridinpersonRadio = document.getElementById('hybrid-inperson');
    const hybridonlineRadio = document.getElementById('hybrid-online');

    const virtualSoftwareSection = document.getElementById('virtual-software-section');
    const virtualToolsSection = document.getElementById('virtual-tools-section');
    const indoorOutdoorSection = document.getElementById('indoor-outdoor-section');
    const stationarySection = document.getElementById('stationary-section');
    const weatherSection = document.getElementById('weather-section');
    const tempratureSection = document.getElementById('temprature-section');
    const conveningEntranceSection = document.getElementById('convening-entrance-section');
    const seatingSection = document.getElementById('seating-section');
    const decoratFeaturesSection = document.getElementById('decorat-features-section');
    const spaceConvenerSection = document.getElementById('space-convener-section');
    const spacefeaturesSection = document.getElementById('space-function-section');
    const spacedimensionSection = document.getElementById('space-dimension-section');
    const visrtualparticipantsSection = document.getElementById('virtual-participants-section');
    const seescreenSection = document.getElementById('see-screen-section');

    // Function to reset inputs
    function resetSection(section) {
        const inputs = section.querySelectorAll('input, textarea');
        inputs.forEach(input => {
            if (input.type === 'radio' || input.type === 'checkbox') {
                input.checked = false;
            } else {
                input.value = '';
            }
        });
    }

    // Handle changes for the convening format radio buttons
    document.querySelectorAll('input[name="convening_format"]').forEach(radio => {
        radio.addEventListener('change', function () {
            // Reset all sections
            const sections = [
                virtualSoftwareSection, virtualToolsSection, indoorOutdoorSection,
                stationarySection, weatherSection, tempratureSection, conveningEntranceSection,
                seatingSection, decoratFeaturesSection, spaceConvenerSection,
                spacefeaturesSection, spacedimensionSection, visrtualparticipantsSection, seescreenSection
            ];

            sections.forEach(section => {
                resetSection(section);
                section.classList.add('hidden');
            });

            // Show relevant sections
            if (onlineOnlyRadio.checked) {
                virtualSoftwareSection.classList.remove('hidden');
                virtualToolsSection.classList.remove('hidden');
                visrtualparticipantsSection.classList.remove('hidden');
            } else if (inpersonOnlyRadio.checked) {
                indoorOutdoorSection.classList.remove('hidden');
                stationarySection.classList.remove('hidden');
                weatherSection.classList.remove('hidden');
                tempratureSection.classList.remove('hidden');
                conveningEntranceSection.classList.remove('hidden');
                seatingSection.classList.remove('hidden');
                decoratFeaturesSection.classList.remove('hidden');
                spaceConvenerSection.classList.remove('hidden');
                spacefeaturesSection.classList.remove('hidden');
                spacedimensionSection.classList.remove('hidden');
            } else if (hybridinpersonRadio.checked) {
              seescreenSection.classList.remove('hidden');

                indoorOutdoorSection.classList.remove('hidden');
                stationarySection.classList.remove('hidden');
                weatherSection.classList.remove('hidden');
                tempratureSection.classList.remove('hidden');
                conveningEntranceSection.classList.remove('hidden');
                seatingSection.classList.remove('hidden');
                decoratFeaturesSection.classList.remove('hidden');
                spaceConvenerSection.classList.remove('hidden');
                spacefeaturesSection.classList.remove('hidden');
                spacedimensionSection.classList.remove('hidden');
                visrtualparticipantsSection.classList.remove('hidden');
            } else if (hybridonlineRadio.checked) {
                virtualSoftwareSection.classList.remove('hidden');
                virtualToolsSection.classList.remove('hidden');
                seescreenSection.classList.remove('hidden');
            }
        });
    });
});

</script>
  
</body>
</html>
