<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table of Contents</title>
  <link rel="stylesheet" href="../static/CSS/style_index.css">
</head>
<body>

  <div class="toc-main-wrapper">
    <div class="toc-wrapper">
      <h1 class="toc-heading">Table of Contents</h1>
      
      <p class="toc-description">Use this page to navigate between sections.</p>

      <ul class="form-links-list">
        <li><a href="conveningBasics.html" class="form-link">Convening Basics</a></li>
        <li><a href="conveningFormats&Spaces.html" class="form-link">Convening Formats & Spaces</a></li>
        <li><a href="spacePhotos.html" class="form-link">Space Photos</a></li>
        <li><a href="times&Counts.html" class="form-link">Times and Counts</a></li>
        <li><a href="procedures&Norms.html" class="form-link">Procedures & Norms</a></li>
        <li><a href="activities.html" class="form-link">Activities</a></li>
        <li><a href="organizing&Mobilizing.html" class="form-link">Organizing & Mobilizing</a></li>
        <li><a href="publicSphere.html" class="form-link">Public-Sphere Discussion</a></li>
        <li><a href="decisionMaking.html" class="form-link">Decision Making</a></li>
        <li><a href="planningStrategizing.html" class="form-link">Planning/Strategizing</a></li>
        <li><a href="leaders.html" class="form-link">Leaders</a></li>
        <li><a href="socialBoundaries.html" class="form-link">Social Boundaries</a></li>
        <li><a href="interactionStyles.html" class="form-link">Interactions & Interaction Styles</a></li>
        <li><a href="fieldNotes.html" class="form-link">Field Notes</a></li>
      </ul>
    </div>
  </div>

</body>
</html>
