<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table of Contents</title>
  <link rel="stylesheet" href="../static/CSS/style_index.css">
</head>
<body>

  <div class="toc-main-wrapper">
    <div class="toc-wrapper">
      <h1 class="toc-heading">Table of Contents</h1>
      
      <p class="toc-description">Use this page to navigate between sections.</p>

      <ul class="form-links-list">
        <!-- <li><a href="conveningbasics.html" class="form-link">Convening Basics</a></li> -->
        <li><a href="{{ url_for('convening_basics') }}" class="form-link">Convening Basics</a></li>
        <li><a href="{{ url_for('convening_formats_and_spaces') }}" class="form-link">Convening Formats & Spaces</a></li>
        <li><a href="{{ url_for('space_photos') }}" class="form-link">Space Photos</a></li>
        <li><a href="{{ url_for('times_and_counts') }}" class="form-link">Times & Counts</a></li>
        <li><a href="{{ url_for('procedures_and_norms') }}" class="form-link">Procedures & Norms</a></li>
        <li><a href="{{ url_for('activities') }}" class="form-link">Activities</a></li>
        <li><a href="{{ url_for('organizing_and_mobilizing') }}" class="form-link">Organizing & Mobilizing</a></li>
        <li><a href="{{ url_for('public_sphere') }}" class="form-link">Public-Sphere Discussion</a></li>
        <li><a href="{{ url_for('decision_making') }}" class="form-link">Decision Making</a></li>
        <li><a href="{{ url_for('planning_strategizing') }}" class="form-link">Planning & Strategizing</a></li>
        <li><a href="{{ url_for('leaders') }}" class="form-link">Leaders</a></li>
        <li><a href="{{ url_for('social_boundaries') }}" class="form-link">Social Boundaries</a></li>
        <li><a href="{{ url_for('interaction_styles') }}" class="form-link">Interaction Styles</a></li>
        <li><a href="{{ url_for('field_notes') }}" class="form-link">Field Notes</a></li>
    </ul>
    </div>
  </div>

</body>
</html>