<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactions Overall</title>
  <link rel="stylesheet" href="../static/CSS/style.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    

    th, td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
    }

    th {
      font-weight: bold;
      background-color: #f9f9f9;
    }

    .row-header {
      text-align: left;
      font-weight: normal;
    }

    input[type="text"] {
      width: 80px;
      padding: 5px;
      text-align: center;
      border: 1px solid #000;
      border-radius: 4px;
    }

    input[type="radio"] {
      transform: scale(1.2);
      accent-color: #7b3b3b;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .interaction-group {
      display: flex;
      flex-direction: column;
    }

    .interaction-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .interaction-row label {
      text-align: center;
      font-size: 14px;
      margin-left: 5px;
    }

    .radio-group {
      display: flex;
      align-items: center;
      gap: 20px;
    }


  </style>
</head>
<body>

  <div class="formbold-main-wrapper ">
    <div class="formbold-form-wrapper">
      <form action="/interactionstyles.html" method="POST">
        <h1 class="formbold-heading">Interactions Overall</h1>

        <h2>Interactions across In-Person and Virtual Participants</h2>
        <h2>Hybrid Interactions</h2>
        <p>How many of the following interactions occurred at any time during the convening (actual start to actual end)?</p>

        <table>
          <tr>
            <th rowspan="2" class="row-header"></th>
            <th rowspan="2">Number</th>
            <th colspan="2">Number is:</th>
          </tr>
          <tr>
            <th>Ct.</th>
            <th>Est.</th>
          </tr>
          <tr>
            <td class="row-header">Virtual participant verbally addressed in-person participants</td>
            <td><input type="text" name="during_interactions_number"></td>
            <td><input type="radio" name="during_interactions_ct_est" value="Ct"></td>
            <td><input type="radio" name="during_interactions_ct_est" value="Est"></td>
          </tr>
          <tr>
            <td class="row-header">In-person participant DIRECTLY addressed by a virtual participant(s) (e.g. by name or mentions "the people online")</td>
            <td><input type="text" name="outside_interactions_number"></td>
            <td><input type="radio" name="outside_interactions_ct_est" value="Ct"></td>
            <td><input type="radio" name="outside_interactions_ct_est" value="Est"></td>
          </tr>
          <tr>
            <td class="row-header">Comment by virtual chat is mentioned verbally by the participant</td>
            <td><input type="text" name="outside_interactions_number"></td>
            <td><input type="radio" name="outside_interactions_ct_est" value="Ct"></td>
            <td><input type="radio" name="outside_interactions_ct_est" value="Est"></td>
          </tr>
        </table>


        <h2>Interaction Style</h2>        
        <table>
          <tr>
            <th rowspan="2">Interaction Style</th>
            <th colspan="4">How many times?</th>
            <th colspan="3">Ever Awkward</th>
          </tr>
          <tr>
            <th>0</th>
            <th>1 - 4</th>
            <th>5+</th>
            <th>DK</th>
            <th>Yes</th>
            <th>No</th>
            <th>NA</th>
          </tr>
      
          <!-- Row template -->
          <tr>
            <td class="row-header">Shake hands</td>
            <td><input type="radio" name="shake_hands_times" value="0"></td>
            <td><input type="radio" name="shake_hands_times" value="1-4"></td>
            <td><input type="radio" name="shake_hands_times" value="5+"></td>
            <td><input type="radio" name="shake_hands_times" value="DK"></td>
            <td><input type="radio" name="shake_hands_awkward" value="Yes"></td>
            <td><input type="radio" name="shake_hands_awkward" value="No"></td>
            <td><input type="radio" name="shake_hands_awkward" value="NA"></td>
          </tr>
      
          <tr>
            <td class="row-header">Hug</td>
            <td><input type="radio" name="hug_times" value="0"></td>
            <td><input type="radio" name="hug_times" value="1-4"></td>
            <td><input type="radio" name="hug_times" value="5+"></td>
            <td><input type="radio" name="hug_times" value="DK"></td>
            <td><input type="radio" name="hug_awkward" value="Yes"></td>
            <td><input type="radio" name="hug_awkward" value="No"></td>
            <td><input type="radio" name="hug_awkward" value="NA"></td>
          </tr>
      
          <tr>
            <td class="row-header">Laugh together</td>
            <td><input type="radio" name="laugh_times" value="0"></td>
            <td><input type="radio" name="laugh_times" value="1-4"></td>
            <td><input type="radio" name="laugh_times" value="5+"></td>
            <td><input type="radio" name="laugh_times" value="DK"></td>
            <td><input type="radio" name="laugh_awkward" value="Yes"></td>
            <td><input type="radio" name="laugh_awkward" value="No"></td>
            <td><input type="radio" name="laugh_awkward" value="NA"></td>
          </tr>
      
          <tr>
            <td class="row-header">Clap</td>
            <td><input type="radio" name="clap_times" value="0"></td>
            <td><input type="radio" name="clap_times" value="1-4"></td>
            <td><input type="radio" name="clap_times" value="5+"></td>
            <td><input type="radio" name="clap_times" value="DK"></td>
            <td><input type="radio" name="clap_awkward" value="Yes"></td>
            <td><input type="radio" name="clap_awkward" value="No"></td>
            <td><input type="radio" name="clap_awkward" value="NA"></td>
          </tr>
      
          <tr>
            <td class="row-header">Interrupt</td>
            <td><input type="radio" name="interrupt_times" value="0"></td>
            <td><input type="radio" name="interrupt_times" value="1-4"></td>
            <td><input type="radio" name="interrupt_times" value="5+"></td>
            <td><input type="radio" name="interrupt_times" value="DK"></td>
            <td><input type="radio" name="interrupt_awkward" value="Yes"></td>
            <td><input type="radio" name="interrupt_awkward" value="No"></td>
            <td><input type="radio" name="interrupt_awkward" value="NA"></td>
          </tr>

          <tr>
            <td class="row-header">Raise voice</td>
            <td><input type="radio" name="raise_voice_times" value="0"></td>
            <td><input type="radio" name="raise_voice_times" value="1-4"></td>
            <td><input type="radio" name="raise_voice_times" value="5+"></td>
            <td><input type="radio" name="raise_voice_times" value="DK"></td>
            <td><input type="radio" name="raise_voice_awkward" value="Yes"></td>
            <td><input type="radio" name="raise_voice_awkward" value="No"></td>
            <td><input type="radio" name="raise_voice_awkward" value="NA"></td>
          </tr>

          <tr>
            <td class="row-header">Insult each other</td>
            <td><input type="radio" name="insult_times" value="0"></td>
            <td><input type="radio" name="insult_times" value="1-4"></td>
            <td><input type="radio" name="insult_times" value="5+"></td>
            <td><input type="radio" name="insult_times" value="DK"></td>
            <td><input type="radio" name="insult_awkward" value="Yes"></td>
            <td><input type="radio" name="insult_awkward" value="No"></td>
            <td><input type="radio" name="insult_awkward" value="NA"></td>
          </tr>
          <tr>
            <td class="row-header">Jargon</td>
            <td><input type="radio" name="jargon_times" value="0"></td>
            <td><input type="radio" name="jargon_times" value="1-4"></td>
            <td><input type="radio" name="jargon_times" value="5+"></td>
            <td><input type="radio" name="jargon_times" value="DK"></td>
            <td><input type="radio" name="jargon_awkward" value="Yes"></td>
            <td><input type="radio" name="jargon_awkward" value="No"></td>
            <td><input type="radio" name="jargon_awkward" value="NA"></td>
          </tr>

          <tr>
            <td class="row-header">Slang</td>
            <td><input type="radio" name="slang_times" value="0"></td>
            <td><input type="radio" name="slang_times" value="1-4"></td>
            <td><input type="radio" name="slang_times" value="5+"></td>
            <td><input type="radio" name="slang_times" value="DK"></td>
            <td><input type="radio" name="slang_awkward" value="Yes"></td>
            <td><input type="radio" name="slang_awkward" value="No"></td>
            <td><input type="radio" name="slang_awkward" value="NA"></td>
          </tr>

          <tr>
            <td class="row-header">Crass language</td>
            <td><input type="radio" name="crass_language_times" value="0"></td>
            <td><input type="radio" name="crass_language_times" value="1-4"></td>
            <td><input type="radio" name="crass_language_times" value="5+"></td>
            <td><input type="radio" name="crass_language_times" value="DK"></td>
            <td><input type="radio" name="crass_language_awkward" value="Yes"></td>
            <td><input type="radio" name="crass_language_awkward" value="No"></td>
            <td><input type="radio" name="crass_language_awkward" value="NA"></td>
          </tr>

          <tr>
            <td class="row-header">Slurs</td>
            <td><input type="radio" name="slurs_times" value="0"></td>
            <td><input type="radio" name="slurs_times" value="1-4"></td>
            <td><input type="radio" name="slurs_times" value="5+"></td>
            <td><input type="radio" name="slurs_times" value="DK"></td>
            <td><input type="radio" name="slurs_awkward" value="Yes"></td>
            <td><input type="radio" name="slurs_awkward" value="No"></td>
            <td><input type="radio" name="slurs_awkward" value="NA"></td>
          </tr>

          <tr>
            <td class="row-header">Out jokes</td>
            <td><input type="radio" name="out_jokes_times" value="0"></td>
            <td><input type="radio" name="out_jokes_times" value="1-4"></td>
            <td><input type="radio" name="out_jokes_times" value="5+"></td>
            <td><input type="radio" name="out_jokes_times" value="DK"></td>
            <td><input type="radio" name="out_jokes_awkward" value="Yes"></td>
            <td><input type="radio" name="out_jokes_awkward" value="No"></td>
            <td><input type="radio" name="out_jokes_awkward" value="NA"></td>
          </tr>

          <tr>
            <td class="row-header">Mention Politics/Government</td>
            <td><input type="radio" name="politics_times" value="0"></td>
            <td><input type="radio" name="politics_times" value="1-4"></td>
            <td><input type="radio" name="politics_times" value="5+"></td>
            <td><input type="radio" name="politics_times" value="DK"></td>
            <td><input type="radio" name="politics_awkward" value="Yes"></td>
            <td><input type="radio" name="politics_awkward" value="No"></td>
            <td><input type="radio" name="politics_awkward" value="NA"></td>
          </tr>

          <tr>
            <td class="row-header">Mention Religion/God</td>
            <td><input type="radio" name="religion_times" value="0"></td>
            <td><input type="radio" name="religion_times" value="1-4"></td>
            <td><input type="radio" name="religion_times" value="5+"></td>
            <td><input type="radio" name="religion_times" value="DK"></td>
            <td><input type="radio" name="religion_awkward" value="Yes"></td>
            <td><input type="radio" name="religion_awkward" value="No"></td>
            <td><input type="radio" name="religion_awkward" value="NA"></td>
          </tr>
          <tr>
            <td class="row-header">Mention Family Members</td>
            <td><input type="radio" name="family_times" value="0"></td>
            <td><input type="radio" name="family_times" value="1-4"></td>
            <td><input type="radio" name="family_times" value="5+"></td>
            <td><input type="radio" name="family_times" value="DK"></td>
            <td><input type="radio" name="family_awkward" value="Yes"></td>
            <td><input type="radio" name="family_awkward" value="No"></td>
            <td><input type="radio" name="family_awkward" value="NA"></td>
          </tr>

        </table>

  
        <div class="container">

          <!-- Gender Interactions -->
          <div class="interaction-group">
            <h2>Gender Interactions</h2>
            <div class="radio-group">
              <label><input type="radio" name="gender_interactions" value="0_pairings"> 0 Pairings</label>
              <label><input type="radio" name="gender_interactions" value="1_pairing"> 1 Pairing</label>
              <label><input type="radio" name="gender_interactions" value="2_pairings"> 2 Pairings</label>
              <label><input type="radio" name="gender_interactions" value="3_pairings"> 3 Pairings</label>
              <label><input type="radio" name="gender_interactions" value="4_pairings"> 4 Pairings</label>
              <label><input type="radio" name="gender_interactions" value="5_or_more_pairings"> 5 or More Pairings</label>
            </div>
          </div>
      
          <!-- Race/Ethnicity Interactions -->
          <div class="interaction-group">
            <h2>Race/Ethnicity Interactions</h2>
            <div class="radio-group">
              <label><input type="radio" name="race_ethnicity_interactions" value="0_pairings"> 0 Pairings</label>
              <label><input type="radio" name="race_ethnicity_interactions" value="1_pairing"> 1 Pairing</label>
              <label><input type="radio" name="race_ethnicity_interactions" value="2_pairings"> 2 Pairings</label>
              <label><input type="radio" name="race_ethnicity_interactions" value="3_pairings"> 3 Pairings</label>
              <label><input type="radio" name="race_ethnicity_interactions" value="4_pairings"> 4 Pairings</label>
              <label><input type="radio" name="race_ethnicity_interactions" value="5_or_more_pairings"> 5 or More Pairings</label>
            </div>
          </div>
      
          <!-- Age Interactions -->
          <div class="interaction-group">
            <h2>Age Interactions</h2>
            <div class="radio-group">
              <label><input type="radio" name="age_interactions" value="0_pairings"> 0 Pairings</label>
              <label><input type="radio" name="age_interactions" value="1_pairing"> 1 Pairing</label>
              <label><input type="radio" name="age_interactions" value="2_pairings"> 2 Pairings</label>
              <label><input type="radio" name="age_interactions" value="3_pairings"> 3 Pairings</label>
              <label><input type="radio" name="age_interactions" value="4_pairings"> 4 Pairings</label>
              <label><input type="radio" name="age_interactions" value="5_or_more_pairings"> 5 or More Pairings</label>
            </div>
          </div>
      
        </div>

        <!-- <button type="submit" class="formbold-btn">Submit</button> -->
        <!-- Previous and Next Button Navigation -->
        <div class="button-container">
          <button type="button" class="formbold-btn" onclick="window.location.href='{{ url_for('social_boundaries') }}'">Previous</button>
          <button type="button" class="formbold-btn" onclick="window.location.href='{{ url_for('home') }}'">Index</button>
          <!-- <button type="submit" class="formbold-btn" onclick="navigateForm(1)">Next</button> -->
          <!-- <button type="button" class="formbold-btn" onclick="window.location.href='{{ url_for("field_notes") }}'">Next</button> -->
          <button type="submit" class="formbold-btn" id="next-btn">Next</button>
        </div>

        <!-- Tab Navigation for Forms -->
        <div class="form-navigation">
          <a href="conveningbasics.html" class="form-tab">Convening Basics</a>
          <a href="conveningformatsandspaces.html" class="form-tab">Convening Formats & Spaces</a>
          <a href="spacephotos.html" class="form-tab">Space Photos</a>
          <a href="timesandcounts.html" class="form-tab">Times and Counts</a>
          <a href="proceduresandnorms.html" class="form-tab">Procedures & Norms</a>
          <a href="activities.html" class="form-tab">Activities</a>
          <a href="organizingandmobilizing.html" class="form-tab">Organizing & Mobilizing</a>
          <a href="publicsphere.html" class="form-tab">Public-Sphere Discussion</a>
          <a href="decisionmaking.html" class="form-tab">Decision Making</a>
          <a href="planningstrategizing.html" class="form-tab">Planning/Strategizing</a>
          <a href="leaders.html" class="form-tab">Leaders</a>
          <a href="socialboundaries.html" class="form-tab">Social Boundaries</a>
          <a href="interactionstyles.html" class="form-tab">Interactions & Styles</a>
          <a href="fieldnotes.html" class="form-tab">Field Notes</a>
        </div>


      </form>
    </div>
  </div>

<script>
  document.getElementById('organization-role').addEventListener('change', function() {
    var otherRoleGroup = document.getElementById('other-role-group');
    if (this.value === 'other') {
      otherRoleGroup.style.display = 'block';
    } else {
      otherRoleGroup.style.display = 'none';
    }
  });
</script>
</body>
</html>
