<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Organizing & Mobilizing</title>
  <link rel="stylesheet" href="../static/CSS/style.css">

</head>
<body>

  <div class="formbold-main-wrapper ">
    <div class="formbold-form-wrapper">

      <form action="/organizingandmobilizing.html" method="POST">
        <h1 class="formbold-heading">Organizing and Mobilizing</h1>
        <p class="formbold-form-subtext">Organizing is an established tradition of CSO structure and operation that engages participants in collective action and builds their individual and collective political capacity. Mobilizing is a set of practices geared toward turning out large numbers of people for actions or events. The two are distinct. Organizations could practice either or both. Look closely for specific evidence of either approach in any activities or discussions at the convening.</p>

          <!-- Convening Type -->
              <label class="formbold-form-label">Which of the following ORGANIZING PRACTICES were selected, assigned, or executed during the convening?
              </label>
              <p class="formbold-form-subtext">(actual start to actual end)</p>
              <div class="formbold-grid-two-columns">
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="too_long" />
                    <div class="formbold-card-content">
                      <span class="large-text">Unstructured 1-on-1s:</span>
                      <span class="small-text">Participants having intentional but unstructured one-on-one conversations with each other
                      </span>
                    </div>
                  </label>
                </div>
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="multiple_concurrent" />
                    <div class="formbold-card-content">
                      <span class="large-text">Structured 1-on-1s:</span>
                      <span class="small-text">Participants having structured one-on-one conversations with each other</span>
                    </div>
                  </label>
                </div>
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="fifty_or_more" />
                    <div class="formbold-card-content">
                      <span class="large-text">Teaching 1-on-1s:</span>
                      <span class="small-text">Teaching participants how to have effective one-on-one conversations
                      </span>
                    </div>
                  </label>
                </div>

                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="multiple_observing" />
                    <div class="formbold-card-content">
                      <span class="large-text">Planning 1-on-1s:</span>
                      <span class="small-text">Making plans for future one-on-one conversations
                      </span>
                    </div>
                  </label>
                </div>
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Commitments:</span>
                      <span class="small-text">Participants making public commitments to take future actions</span>
                    </div>
                  </label>
                </div>
  
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Accountability:</span>
                      <span class="small-text">Participants hold other participants accountable for prior commitments
                      </span>
                    </div>
                  </label>
                </div>
              
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Delegating Outcomes:</span>
                      <span class="small-text">Delegating responsibility for achieving specific outcomes (not just completing certain tasks) to participants
                      </span>
                    </div>
                  </label>
                </div>

                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Granting Autonomy:</span>
                      <span class="small-text">Giving participants the ability to decide how they will achieve an outcome
                      </span>
                    </div>
                  </label>
                </div>

                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Interdependent Teams:</span>
                      <span class="small-text">Creating small teams of participants to work together to produce outcomes
                      </span>
                    </div>
                  </label>
                </div>

                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Political Voice Skills:</span>
                      <span class="small-text">Intentionally developing participants' skills for taking political action/expressing political voice
                      </span>
                    </div>
                  </label>
                </div>

                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Organizational Leadership Skills:</span>
                      <span class="small-text">Intentionally developing participants' skills for being a leader/exercising authority in the organization
                      </span>
                    </div>
                  </label>
                </div>
              
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Public Narrative:</span>
                      <span class="small-text">Intentionally developing, practicing, or telling participants' own personal stories (as they relate to the organization or an issue)
                      </span>
                    </div>
                  </label>
                </div>
              
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Power Analysis:</span>
                      <span class="small-text">Explicit discussion of who outside the organization currently holds power relative to a problem/issue
                      </span>
                    </div>
                  </label>
                </div>

                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Sequenced Actions:</span>
                      <span class="small-text">Developing actions that intentionally build on one another
                      </span>
                    </div>
                  </label>
                </div>

              </div>


          <!-- Convening Type -->
            <label class="formbold-form-label">Which of the following MOBILIZING PRACTICES were selected, assigned, or executed during the convening?
            </label>
            <p class="formbold-form-subtext">(actual start to actual end)</p>
            <div class="formbold-grid-two-columns">
              <div class="formbold-card">
                <label class="formbold-radio-label">
                  <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="too_long" />
                  <div class="formbold-card-content">
                    <span class="large-text">List Building:</span>
                    <span class="small-text">Building large lists of names and contact information
                    </span>
                  </div>
                </label>
              </div>
              <div class="formbold-card">
                <label class="formbold-radio-label">
                  <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="multiple_concurrent" />
                  <div class="formbold-card-content">
                    <span class="large-text">Mass Contacting:</span>
                    <span class="small-text">Contacting large numbers of people through email or social media</span>
                  </div>
                </label>
              </div>
              <div class="formbold-card">
                <label class="formbold-radio-label">
                  <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="fifty_or_more" />
                  <div class="formbold-card-content">
                    <span class="large-text">Advertising:</span>
                    <span class="small-text">Broadcasting messages to large numbers of people through traditional or new media</span>
                  </div>
                </label>
              </div>
              <div class="formbold-card">
                <label class="formbold-radio-label">
                  <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="multiple_observing" />
                  <div class="formbold-card-content">
                    <span class="large-text">Large Events:</span>
                    <span class="small-text">Planning events with large numbers of anticipated participants
                    </span>
                  </div>
                </label>
              </div>
              <div class="formbold-card">
                <label class="formbold-radio-label">
                  <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                  <div class="formbold-card-content">
                    <span class="large-text">Easy Actions:</span>
                    <span class="small-text">Planning activities that are easy for people to do quickly</span>
                  </div>
                </label>
              </div>

              <div class="formbold-card">
                <label class="formbold-radio-label">
                  <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                  <div class="formbold-card-content">
                    <span class="large-text">Solo Actions:</span>
                    <span class="small-text">Planning activities that are easy for people to do alone</span>
                  </div>
                </label>
              </div>
            </div>

                
        <!-- Special Circumstances -->
              <label class="formbold-form-label">Which of the following THEORIES OF CHANGE were mentioned during the convening?</label>
              <!-- <p class="formbold-form-subtext">Select the applicable circumstances:</p> -->
              <div class="formbold-grid-two-columns">
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="too_long" />
                    <div class="formbold-card-content">
                      <span class="large-text">Leading by Example:</span>
                      <span class="small-text">change happens when we act right and people emulate
                      </span>
                    </div>
                  </label>
                </div>
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="multiple_concurrent" />
                    <div class="formbold-card-content">
                      <span class="large-text">Changing People One-by-One:</span>
                      <span class="small-text">change happens when we convince people one at a time</span>
                    </div>
                  </label>
                </div>
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="fifty_or_more" />
                    <div class="formbold-card-content">
                      <span class="large-text">Changing Masses of People:</span>
                      <span class="small-text">change happens when we inform lots of people</span>
                    </div>
                  </label>
                </div>
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="multiple_observing" />
                    <div class="formbold-card-content">
                      <span class="large-text">Changing Businesses: </span>
                      <span class="small-text">change happens when businesses act differently
                      </span>
                    </div>
                  </label>
                </div>
                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Changing Government Policy or Practice:</span>
                      <span class="small-text">change happens when government acts differently</span>
                    </div>
                  </label>
                </div>

                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Changing Other Organizations:</span>
                      <span class="small-text">change happens when non-government, non-businesses act differently</span>
                    </div>
                  </label>
                </div>

                <div class="formbold-card">
                  <label class="formbold-radio-label">
                    <input type="checkbox" class="formbold-input-checkbox" name="special_circumstances[]" value="part_of_event" />
                    <div class="formbold-card-content">
                      <span class="large-text">Other</span>
                      <input type="text" name="other" id="other" placeholder="Other" class="formbold-form-input" />
                    </div>
                  </label>
                </div>
              </div>

        <!-- <button type="submit" class="formbold-btn">Submit</button> -->
        <div class="button-container">
          <button type="button" class="formbold-btn" onclick="window.location.href='{{ url_for('activities') }}'">Previous</button>
          <button type="button" class="formbold-btn" onclick="window.location.href='{{ url_for('home') }}'">Index</button>
          <!-- <button type="submit" class="formbold-btn" onclick="navigateForm(1)">Next</button> -->
          <!-- <button type="button" class="formbold-btn" onclick="window.location.href='{{ url_for("public_sphere") }}'">Next</button> -->
          <button type="submit" class="formbold-btn" id="next-btn">Next</button>

        </div>

        <!-- Tab Navigation for Forms -->
        <div class="form-navigation">
          <a href="conveningbasics.html" class="form-tab">Convening Basics</a>
          <a href="conveningformatsandspaces.html" class="form-tab">Convening Formats & Spaces</a>
          <a href="spacephotos.html" class="form-tab">Space Photos</a>
          <a href="timesandcounts.html" class="form-tab">Times and Counts</a>
          <a href="proceduresandnorms.html" class="form-tab">Procedures & Norms</a>
          <a href="activities.html" class="form-tab">Activities</a>
          <a href="organizingandmobilizing.html" class="form-tab">Organizing & Mobilizing</a>
          <a href="publicsphere.html" class="form-tab">Public-Sphere Discussion</a>
          <a href="decisionmaking.html" class="form-tab">Decision Making</a>
          <a href="planningstrategizing.html" class="form-tab">Planning/Strategizing</a>
          <a href="leaders.html" class="form-tab">Leaders</a>
          <a href="socialboundaries.html" class="form-tab">Social Boundaries</a>
          <a href="interactionstyles.html" class="form-tab">Interactions & Styles</a>
          <a href="fieldnotes.html" class="form-tab">Field Notes</a>
        </div>


      </form>
    </div>
  </div>

<script>
  document.getElementById('organization-role').addEventListener('change', function() {
    var otherRoleGroup = document.getElementById('other-role-group');
    if (this.value === 'other') {
      otherRoleGroup.style.display = 'block';
    } else {
      otherRoleGroup.style.display = 'none';
    }
  });
</script>
</body>
</html>
