/* grid.css */
.formbold-grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 600px) {
  .formbold-grid-two-columns {
    grid-template-columns: 1fr;
  }
}

.formbold-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 800px) {
  .formbold-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
